* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

}

main {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: #8E9AAF;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header2 {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin-top: 1.5rem;
  background: #CBC0D3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #8E9AAF;
  width: 25%;
  height: 100vh;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-items {
  width: 75%;
}

.container-items > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  margin-top: 3.2rem;
}

.imgg {
  width: 28rem;
  height: 38rem;
}

.imgp {
  width: 28rem;
  height: 16rem;
}

h2 {
  font-family: 'Staatliches', cursive;  

  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  align-items: center;

  letter-spacing: 0.05em;

  color: #FFFFFF;

}



p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 23px;
  text-align: center;
  width: 30.5rem;
  margin: 3.2rem 4.3rem 6.3rem 3.6rem;
  color:#FFFFFF;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  padding-bottom: 4.6rem;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  padding-bottom: 4.6rem;
}

.badge {
  font-family: 'Staatliches', cursive;  
  font-size: 20px;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  top: 1.6rem;
  right: 1.6rem;
  position: absolute;
  width: 11.2rem;
  height: 3.5rem;
  
  
 
  background: #FEEAFA;
  border-radius: 20px;

  animation-name: topdown;
  animation-duration: 1400ms;
}

.content-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.2rem 1.6rem 5rem 1.6rem;
  
}

.content-items img {
  animation-name: downtop;
  animation-duration: 1400ms;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

